.thisBtn {
    background-color: #085f63;
    color: #fff;
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 1px #7fa99b;
    ;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top:10px;
    right: 30px;

}

.thisBtn:hover {
    background-color: #fff;
    color: #085f63;
    cursor: pointer;
}

form textarea {
    background-color: #7fa99b;
    color: #fff;
    font-size: 30px;
    margin: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    height: 100px;
    width: 600px;
    justify-content: center;
    position: relative;
    left: 100px;
   
}

form textarea:hover {
    background-color: #fff;
    color: #7fa99b;
    cursor: pointer;
}