.followBox {
    display: flex;
    border: 2px solid #7fa99b;
    max-width: 600px;
    padding: 5px;
    margin: auto;
    background-color: #347474 ;
}

.follow {
    width: 33,33%;
    padding: 15px;

}


.follow img {
    height: 50px;
    width: 50px;
    border-radius: 50% ;
}

.btn{
    background-color: #085f63;
    color: #fff;
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 1px #7fa99b;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top:10px;
    right: 300px;
}

